* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    margin: 20px 16vw;
    gap: 100px;
}

#canvas {
    display: flex;
}

.grid-box {
    border: 1px solid black;
    background: whitesmoke;
}

.button {
    width: 80px;
    height: 40px;
    margin: 10px;
    border: solid 1px black;
}
